Here is the one recipe

<h2><%= @recipe.title %></h2>
<p><%= @recipe.chef %></p>
<p><%= @recipe.directions %></p>
<p><%= @recipe.prep_time %></p>
<p><%= @recipe.image %></p>
<p><%= @recipe.ingredients %></p>
